<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css">
    <title>Online Shop</title>
</head>
<body>
    <%-include('./shared/header')%>
    <main>
        <div class="section-intro">
            <p class="section-text-p1">Browse</p>
            <h1 class="title">The Shop</h1>
          </div>
          <h1>Product List</h1>

  <ul id="products-grid">
    <% products.forEach(product => { %>
      <li>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>
      </li>
    <% }); %>
  </ul>
    </main>
</body>
</html>