<header id="main-header">
    <div id="logo"><a href="/" class="logo">Online Shop</a></div>
    <nav>
      <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart <span class="badge"><%=locals.cart.totalQuantity%></span></a></li>
      </ul>
    </nav>
</header>